<table id="medium-table">
    <tr>
        <td>FSK</td>
        <td>{{data.fsk}}</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>{{data.duration}}</td>
    </tr>
    <tr>
        <td>Involved People</td>
        <td>{{data.involvedPerson}}</td>
    </tr>
    <tr>
        <td>Table of Content </td>
        <td><a *ngIf="data.tableOfContentLink !== undefined" href="{{data.tableOfContentLink}}" class="btn btn-primary btn-sm"  target="_blank" rel="noopener noreferrer">Table of content</a>
        </td>
    </tr>
</table>