<table id="medium-table">
    <tr>
        <td>ISSN</td>
        <td>{{data.issn}}</td>
    </tr>
    <tr>
        <td>Pages</td>
        <td>{{data.pages}}</td>
    </tr>
    <tr>
        <td>Magazine Number</td>
        <td>{{data.magazineNumber}}</td>
    </tr>
    <tr>
        <td>Table of Content </td>
        <td><a *ngIf="data.tableOfContentLink !== undefined" href="{{data.tableOfContentLink}}" class="btn btn-primary btn-sm"  target="_blank" rel="noopener noreferrer">Table of content</a>
        </td>
    </tr>
</table>