.pages {
    min-width: 75px;
    max-width: 10%
}

.table-of-content {
    max-width: 35%;
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
    .pages, .table-of-content {
        max-width: none;
        width: 48%;
    }

    .table-of-content {
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {
    .pages, .table-of-content {
        width: 100%;
    }

    .table-of-content {
        margin-left: auto;
    }
}