 .description {
     color: #fff;
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
 }

 .description>ul {
     list-style-type: none;
     padding-left: 0;
     margin-top: 15px;
 }

 .description>h3 a {
     text-decoration: none;
     color: inherit;
     /* background-color: aqua; */
     /* a8d4ff -sub header color */
     background-color: rgb(7, 131, 248);
     border-radius: 17%;
     padding: 10px 20px;
     margin-bottom: 5px;
     text-shadow: 1px 1px 3px #000, 0px 0px 1px #000;
 }

 .description>ul li {
     text-shadow:
         0px 0px 2px #000,
         1px 1px 2px #000,
         0px 1px 2px #000,
         1px 0px 2px #000,
         0px -1px 2px #000,
         -1px 0px 2px #000,
         -1px -1px 2px #000;
 }

 .description>h3 a:hover {
     color: #0d6efd;
 }

 h3 > a{
    border-style: ridge;
    border-width:thin;
 }

 .carousel-img {
     width: 100%;
     height: calc(100vh - 60px);
     /* second value is the header high*/
     object-fit: cover;
 }

 /* dark overlay over carousel items */
 .picsum-img-wrapper:after {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.4);
 }

 /* Responsive Styles */
 @media screen and (max-width: 960px) {
     ngb-carousel .picsum-img-wrapper>img, .carousel-img {
         height: calc(100vh - 100px);
         /* second value is the header high*/
     }
 }

 @media screen and (max-width: 480px) {
     ngb-carousel .picsum-img-wrapper>img, .carousel-img {
         height: calc(100vh - 60px);
         /* second value is the header high*/
     }
 }