mat-grid-tile {
  background: lightblue; /*equals = rgb(173, 216, 230);*/
}

.mainTile {
  margin: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainTileHeader {
  font-size: 300%;
}

.mainTileContent {
  white-space: pre-line;
  line-height: 1.6;
  font-size: 120%;
}

.mainTileContentImage {
  max-height: 20vw;
}

.mainTileImageContainer {
  float: left;
  margin-right: 7px;
}

.tileContainer {
  cursor: pointer;
}

.tileContent {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 20px 5px;
  white-space: pre-line;
}

.activeTile {
  width: 100%;
  height: 100%;
  background-color: rgb(103, 146, 160);
}

@media screen and (max-width: 960px) {
  .tileContent {
    -webkit-line-clamp: 3;
    margin-top: 48px;
  }
  .mainTileContent {
    font-size: 110%;
  }
  .mainTile {
    margin-top: 10px;
  }
  .tileContent {
    font-size: 95%;
  }
}

@media screen and (max-width: 480px) {
  .tileContent {
    -webkit-line-clamp: 2;
    margin-top: 48px;
  }
  .mainTileContent {
    font-size: 100%;
  }
  .mainTile {
    margin: 10px;
  }
  .mainTile h2 {
    margin-top: 5px;
  }
  .tileContent {
    font-size: 95%;
  }
  .mainTileHeader {
    font-size: 200%;
  }
  .tileHeader {
    font-size: 95%;
  }
}

/* ToDo:  
 - fix layout also when height is changing
 
 Optional:
 - change grid layout for smaller screens. (i.e main tile | tile tile tile with horizontal scrollbar)
 */
