.issn {
    width: 22%;
}

.short-number {
    width: 13%;
}


.table-of-content {
    width: 48%;
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
    .short-number, .issn, .table-of-content {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .short-number, .issn, .table-of-content {
        width: 100%;
    }
}