<div *ngIf="submitedChanges">
    <div class="alert" [ngClass]="submitSuccesful? 'alert-success': 'alert-danger'">
        <span [innerHTML]="submitRespondMessage"></span>
    </div>
</div>
<mat-card>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <mat-card-title>Edit Medium</mat-card-title>

        <app-base-form formGroupName="base"></app-base-form>


        <app-book-form *ngIf="editForm.value.base.mediaType == 'Book'" formGroupName="book"></app-book-form>
        <app-disc-form *ngIf="editForm.value.base.mediaType == 'CD / DVD / Blu-Ray'" formGroupName="disc">
        </app-disc-form>
        <app-digital-game-form *ngIf="editForm.value.base.mediaType == 'electronical Game'" formGroupName="digitalGame">
        </app-digital-game-form>
        <app-game-form *ngIf="editForm.value.base.mediaType == 'Game'" formGroupName="game"></app-game-form>
        <app-magazine-form *ngIf="editForm.value.base.mediaType == 'Magazine'" formGroupName="magazine">
        </app-magazine-form>

        <br>
        <p>Complete the form to enable button.</p>
        <button mat-raised-button class="button" type="submit" [disabled]="!editForm.valid">Submit</button>
    </form>
</mat-card>

<!-- {{editForm.dirty}}
<br>
{{editForm.value | json}} -->