.simple-search {
    flex-grow: 2;
    margin-right: 0;
}

.extended-search-button {
    margin-left: 20px;
    flex-grow: 1;
}

.search-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}