<div [formGroup]="form" class="formGroup">
    <mat-form-field class="gameFormField">
        <mat-label>minimum Age advised</mat-label>
        <input matInput type="number" formControlName="minAge">
        <mat-error *ngIf="form.controls.minAge.errors?.min">Age can not be negative</mat-error>
    </mat-form-field>

    <mat-form-field class="gameFormField">
        <mat-label>Average match time in minuted</mat-label>
        <input matInput type="number" formControlName="playTime" placeholder="in minutes">
        <mat-error *ngIf="form.controls.playTime.errors?.min">Play time can not be negative</mat-error>
    </mat-form-field>

    <mat-form-field class="gameFormField">
        <mat-label>minimum Players requried</mat-label>
        <input matInput type="number" formControlName="playersMinimum">
        <mat-error *ngIf="form.controls.playersMinimum.errors?.min">Minimum player should be at least 1</mat-error>
        <mat-hint *ngIf="form.errors?.minMaxRelation" class="red-font">the minimum numbers of players can not be larger than the maximum
            number of player possible</mat-hint>
    </mat-form-field>

    <mat-form-field class="gameFormField">
        <mat-label>maximum Players possible</mat-label>
        <input matInput type="number" formControlName="playersMaximum">
        <mat-error *ngIf="form.controls.playersMaximum.errors?.min">Maximum player should be at least 1</mat-error>
    </mat-form-field>
</div>
