<div [formGroup]="form" class="formGroup">
    <mat-form-field class="involved-persons">
        <mat-label>involved Persons</mat-label>
        <mat-chip-list #chipList aria-label="Involed persons input" formControlName="involvedPerson">
            <mat-chip *ngFor="let person of form.get('involvedPerson').value" (removed)="removePerson(person)">
                {{person}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="Press enter or comma after each author entered" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addPerson($event)">
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="fsk">
        <mat-label>Fsk</mat-label>
        <input matInput type="number" formControlName="fsk">
        <mat-error *ngIf="form.controls['fsk'].hasError('germanAgeRating')">Valclass german age ratings are 0,6,12,16,18
        </mat-error>
    </mat-form-field>

    <mat-form-field class="duration">
        <mat-label>Duration</mat-label>
        <input matInput type="number" formControlName="duration" placeholder="in minutes">
        <mat-error *ngIf="form.controls.duration.errors?.min">Duration can not be negative</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table of Content (link)</mat-label>
        <input matInput type="url" pattern="https?://.*" formControlName="tableOfContentLink"
            placeholder="Link to a table of content">
        <mat-error *ngIf="form.controls.tableOfContentLink.errors?.urlPattern">
            {{form.controls.tableOfContentLink.errors.urlPattern.message}}
        </mat-error>
    </mat-form-field>
</div>