.mat-card {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.mat-form-field {
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    width: 48%;
}

/* form class for each sub form */
.formGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    border: 1px solid #a8d4ff;
    background-color: #cde6ff;
}


/* Responsive Styles */

@media screen and (max-width: 960px) {
    .mat-card {
        width: 90%;
        /* background-color:grey */
    }
}

@media screen and (max-width: 480px) {
    .mat-form-field {
        width: 100%;
    }
}