.game-form-field{
    width: 24%;
}

.red-font{
    color:red;
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
.game-form-field{
    width: 48%;
}
}

@media screen and (max-width: 480px) {
    .game-form-field{
        width: 100%;
    }
}