<!--  medium to be displayed -->
<mat-card class="media-card" *ngIf="foundMedium">
    <mat-card-content>
        <div *ngIf="medium$ | async as medium">
            <mat-card-header id="card-header">
                <mat-card-title>
                    {{medium.title}}
                    <!-- media graphic -->
                    <i class="medium-icon" class="{{svgClass}} fa-lg" aria-label="medium type icon"></i>
                </mat-card-title>
            </mat-card-header>
            <div class="split">
                <table class="medium-table-left medium-table">
                    <tr>
                        <td>Release Year</td>
                        <td>{{medium.releaseYear}}</td>
                    </tr>
                    <tr>
                        <td>Publisher</td>
                        <td>{{medium.publisher}}</td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td>{{medium.genre}}</td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td>{{medium.language}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td class="preserve-newlines">{{medium.description}}</td>
                    </tr>
                </table>
            </div>
            <div class="split flex-medium-screen">
                <a href="{{medium.externalProductLink}}" target="_blank">
                    <picture>
                        <source media="(min-width: 481px)" srcset="{{medium.previewImageLink}}">
                        <!-- idea from https://medium.com/@mike_masey/how-to-use-the-picture-element-to-prevent-images-loading-on-mobile-devices-1376e33b190e
                         "... screen size of 767px or smaller (which is when we want to hide the image)
                         we instead load a base64 encoded image (which is about 78bytes). As this is loaded when the html is parsed, the browser doesn’t need to
                          open up a request as the image is already cached. This means if a person is on a smaller screen, no extra requests will be made for an 
                          image, but the alt tag will still be accessible."
                        -->
                        <source media="(max-width: 480px)" sizes="1px"
                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w">
                        <img class="preview-image" [ngClass]="medium.previewImageLink ? 'image' : '' "
                            src="{{medium.previewImageLink}}" alt="Cover image of medium"
                            onerror="this.onerror=null; this.src='https://www.insticc.org/node/TechnicalProgram/56e7352809eb881d8c5546a9bbf8406e.png';">
                    </picture>
                </a>
                <div class="medium-table-right medium-table">
                    <ng-template #SubCategoryView></ng-template>
                </div>
            </div>
            <div *ngIf="!medium.possibleToTakeHome">
                <p class="note">Note: Functionality still in work till then: <br>Medium can only be viewed in the
                    library. It cannot be borrowed yet.</p>
            </div>
            <mat-card-actions align="end" *ngIf="authorised">
                <button mat-icon-button routerLink="/editMedia/{{medium._id}}" aria-label="Edit medium">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="confirmDeletion(confirmDeleteDialogue)" aria-label="Delete medium">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </mat-card-content>
</mat-card>
<!-- Optional change (table) layout for phone size to reduce the space of the first table column (actually only affects description column) -->

<!-- modal to confirm delete request -->
<ng-template #confirmDeleteDialogue let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Deletion</h4>
        <button type="button" class="btn-close" aria-label="Close pop up"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>This will delete this medium from the database. Please confirm that you want to continue&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteConfirmation(deleting)">Confirm deletion</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Cancel clicked')">Cancel</button>
    </div>
</ng-template>

<!-- modal for server respond (of delete request) -->
<ng-template #deleting let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close pop up"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="spinner-border" role="status" aria-label="loading icon">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>
            <p id="trying-delete-message">trying to delete database entry&hellip;</p>
        </div>
    </div>
</ng-template>