.media-card {
    margin-top: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 35px;
}

#card-header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
}

.medium-icon {
    /* float: right; */
    margin-left: 4px;
}

.medium-title {
    display: inline;
}

.split {
    float: left;
    width: 50%;
}

.medium-table {
    width: 100%;
}

.medium-table tr td:nth-of-type(2) {
    padding: 5px;
}

.medium-table-left {
    padding-right: 8px;
}

.medium-table-right {
    padding-left: 8px;
}

table {
    border-collapse: seperate;
    border-spacing: 0 2px;
}

table>tr>td:nth-child(odd) {
    text-align: center;
}

td:nth-child(1) {
    width: 90px;
}

.left {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #cde6ffaa;
}

.preview-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    max-height: 45vh;
}

.note {
    color: red;
    clear: both;
}

.modal-body {
    display: inline-flex
}

.preserve-newlines {
    white-space: pre-line;

}

.flex-medium-screen {
    display: block;
}

.image {
    display: block;
    transition: all 100ms ease-in-out;
}

.image:hover img {
    transform: scale(1.7);
}

/* Responsive Styles */

@media screen and (max-width: 960px) {
    .media-card {
        width: 85%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .split {
        display: block;
        width: 100%;
    }

    /* Clearfix (clear floats) */
    .split::after {
        content: "";
        clear: both;
        display: table;
    }

    .medium-table-left {
        padding-right: 0px;
    }

    .preview-image {
        /* width: 20%; */
        padding: 5px;
        /* float: left */
    }

    .medium-table-right {
        /* float: left; */
        /* width: 100%; */
        padding-left: 0px;
    }

    .flex-medium-screen {
        display: flex;
    }

    .image:hover img {
        transform: scale(2.7);
    }
}

/* Optional: A.1) √ Remove image when on mobile screen as the picture is quite small then -> removed loading to spare mobile user from data usage
             A.2) Enable Zoom for picture when clicking/hovering it 
             A.3) √ Change display order, so picture can be larger -> see 1)
*/
@media screen and (max-width: 480px) {
    .media-card {
        /* margin-top: 60px; */
        width: 95%;
        padding-left: 8px;
        padding-right: 8px;
    }

    .medium-table-right {
        width: 100%;
    }

    .preview-image {
        display: none;
    }

    .flex-medium-screen {
        display: block;
    }
}