#ean {
    min-width: 105px;
    max-width: 20%;
}

#releaseYear {
    min-width: 70px;
    max-width: 15%
}

#publisher {
    margin-left: 7px;
    margin-right: 40px;
}

#language {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
}

.mat-radio-button {
    margin-left: 10px;
}

#title {
    margin-left: 7.5px;
}

#description {
    width: 98%;
}

/* Responsive Styles */
@media screen and (max-width: 960px) {
    #title {
        margin-left: 6.4px;
    }

    #publisher {
        margin-left: 5px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 770px) {
    #language {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    #releaseYear, #ean {
        max-width: none;
        min-width: 48%;
    }

    #ean {
        margin-left: 0px;
    }

    #title {
        margin-left: auto;
    }

    #publisher {
        width: 100%;
        margin: auto;
    }

    #language {
        flex-direction: row;
    }

    #description {
        width: 100%;
    }
}